/* global --------------------------------------------------*/
:root {
  --basic-text: #212121;
  --secondary-text: #757575;
  --accent: #2196f3;
  --bgc: #f5f4fa;
  --bgc-dark: #2f303a;
  --half-tone: rgba(255, 255, 255, 0.6);
  --shadow: rgba(0, 0, 0, 0.15);
}

body {
  font-family: Roboto, sans-serif;
  font-style: normal;
  background-color: white;
  color: var(--basic-text);
}

/* global-header ------------------------------------------*/
.page-header {
  /* width: 1600px;
  height: 80px; */
}

.site-nav,
.address {
  list-style: none;
  margin: 0;
  padding: 0;
}

.site-nav-link {
  font-style: normal;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--basic-text);
}

.site-nav-link:hover,
.site-nav-link:focus {
  color: var(--accent);
}

.address-link {
  font-style: normal;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text);
}

.address-link:hover,
.address-link:focus {
  color: var(--accent);
}

.logo {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: black;
}

.logo-color {
  color: var(--accent);
}

/* global-footer -----------------------------------------*/
.bottom {
  background-color: var(--bgc-dark);
}

.logo-bottom {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: white;
}

.contacts {
  list-style: none;
  margin: 0;
  padding: 0;
}

.contacts-adr {
  text-decoration: none;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: white;
}

.contacts-adr:hover,
.contacts-adr:focus {
  color: var(--accent);
}

.contacts-link {
  text-decoration: none;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--half-tone);
}

.contacts-link:hover,
.contacts-link:focus {
  color: var(--accent);
}

/* main-index ----------------------------------------------*/
/*-------------- hero */
.hero {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  background-color: var(--bgc-dark);
  color: white;
  width: 1600px;
  height: 600px;
}

.hero-button {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  letter-spacing: 0.06em;
  color: white;
  background: var(--accent);
  box-shadow: 0px 4px 4px var(--shadow);
  border-radius: 4px;
  width: 200px;
  height: 50px;
}

.hero-button:hover {
  cursor: pointer;
}

/* ---------features */
.features-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.features-title {
}

.features-item-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.features-item-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text);
}

/* -------operation */
.operation-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.operation-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* ---------team */
.team {
  background-color: var(--bgc);
}

.team-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-text {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text);
}

/* main-portfolio----------------------------------------- */
/* --------------projects */

.buttons-block,
.projects-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.projects {
}

.projects-title {
}

.project-img {
}

.project-name {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.project-caption {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--secondary-text);
}

/*------------- buttons */
.buttons-block {
}

.buttons {
  height: 38px;
  background: var(--bgc);
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
}

.buttons:hover {
  cursor: pointer;
  background: var(--accent);
  color: white;
}
.buttons:focus {
  background: var(--accent);
  color: white;
}
